@import url('https://fonts.googleapis.com/css?family=Lobster|Permanent+Marker&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

/* H E A D E R */
header {
  position: fixed;
  top: 0;
  border-bottom: 1px solid gray;
  background-color: white;
  width: 100%;
  height: 70px;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  padding: 0 20px;
}
h2 {
  font-family: 'Lobster', cursive;
  color: lightblue;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
span {
  font-size: 130%;
  color: white;
}
#logo a {
  text-decoration: none;
}

/* W E L C O M E   S E C T I O N */
#welcome-section {
  height: 100vh;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 70px;
}
#main-left {
  padding: 0 20px;
}
#main-left img {
  box-shadow: 1px 1px 2px black, 0 0 25px rgba(0, 0, 255, 0.4),
    0 0 5px rgba(0, 0, 139, 0.2);
  border-radius: 10%;
  width: 400px;
  display: block;
  margin: auto;
}
#main-right {
  font-family: 'Permanent Marker', cursive;
  font-size: 48px;
  color: #333333;
  padding: 0 20px;
}
#main-right p,
#main-right h1 {
  transform: rotate(-7deg);
}
#main-right strong {
  color: black;
}

@media (max-width: 1093px) {
  #main-right {
    font-size: 40px;
  }
}
@media (max-width: 993px) {
  #main-right {
    font-size: 32px;
  }
}
@media (max-width: 893px) {
  #main-left img {
    width: 300px;
  }
  #main-right {
    font-size: 24px;
  }
}
@media (max-width: 600px) {
  #main-left img {
    width: 200px;
  }
}
@media (max-width: 500px) {
  #welcome-section {
    flex-direction: column-reverse;
  }
  #main-left img {
    width: auto;
    height: 200px;
  }
}
